<div>
    <ul >
        <li> ID: {{ gameViewCtrl.game.id }}</li>
        <li> name: {{ gameViewCtrl.game.name }}</li>
        <li> Status: {{ gameViewCtrl.game.status.status }}</li>
        <li> created: {{ gameViewCtrl.game.created }}</li>
        <li> groups: {{ gameViewCtrl.game.groups }}</li>
        <li> owner: {{ gameViewCtrl.game.owner.user.first_name }} {{ gameViewCtrl.game.owner.user.last_name }}</li>
        <li> players: {{ gameViewCtrl.game.players }}</li>
    </ul>
</div>
