
<!DOCTYPE html>
<html>
<head>
<title>Error</title>
</head>

<body>
<h1>An error occurred!</h1>


  <pre><%= error.stack %></pre>
  <pre><%= error.ressponse %></pre>
  <pre><%= error.error %></pre>
  <pre><%= error.message %></pre>

</body>
</html>
