<div>
<div ng-if="gameplayerid | contains:userid">
    <div class="btn-group">
        <button class="btn btn-info" data-ng-click="gameLeaveCtrl.leaveGame(gameid)">Leave Game</button>
    </div>
</div>
</div>
