<div>
<div ng-if="!(gameplayerid | contains:userid)">
    <div class="btn-group">
        <button class="btn btn-info" data-ng-click="gameJoinCtrl.joinGame(gameid)">Join Game</button>
    </div>
</div>
</div>
