<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2" >
        <%- include(basePath + '/partials/components/login_register.ejs'); %>
    </div>
</div>