<div class="form-group">
    <label>Speed</label>
    <select
        ng-model="speedListCtrl.choice.id"
        ng-options="speed.id as speed.name for speed in speedListCtrl.speeds">
     </select>
</div>
