
<div class="container-fluid">
    <div class="panel panel-login">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#" class="active" id="login-form-link">Login</a>
                </div>
                <div class="col-xs-6">
                    <a href="#" id="register-form-link">Register</a>
                </div>
            </div>
            <hr>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                   <%- include(basePath + '/partials/components/login/login_form.ejs'); %>
                   <%- include(basePath + '/partials/components/register/register_form.ejs'); %>
                </div>
            </div>
        </div>
    </div>
</div>
